<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>DetallesPedido</ion-title>
    <ion-progress-bar *ngIf="cargandoDetallesPedido"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="nuevo()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-refresher slot="fixed" (ionRefresh)="cargarDetallesPedido()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let DetallesPedido of listaDetallesPedido" button (click)="editar(DetallesPedido)">
      <ion-note slot="start">{{DetallesPedido.iddetallesPedido}}</ion-note>
      <ion-label>
        <h2>{{DetallesPedido.cantidad}}</h2>
        <p>{{DetallesPedido.precio}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-modal [isOpen]="modalVisible" (didDismiss)="modalVisible = false" (didPresent)="cargarDatosEditar()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ modoFormulario }} Detalles Pedido</ion-title>
          <ion-buttons slot="end" (click)="modalVisible = false">
            <ion-button>Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <div style="padding: 10px;">
          <app-formulario-detalles-pedido (recargar)="cargarDetallesPedido()"></app-formulario-detalles-pedido>
        </div>      
      </ion-content>

    </ng-template>
  </ion-modal>
</ion-content>