<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pedido</ion-title>
    <ion-progress-bar *ngIf="cargandoPedido" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="nuevo()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-refresher slot="fixed" (ionRefresh)="cargarPedido()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let pedido of listaPedido">
      <ion-note slot="start">{{ pedido.idpedido }}</ion-note>
      <ion-label>
        <h2>{{ pedido.fechaPedido }}</h2>
        <p>{{ pedido.fechaEntrega }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-modal [isOpen]="modalVisible" (didDismiss)="modalVisible = false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Agregar Pedido</ion-title>
          <ion-buttons slot="end" (click)="modalVisible = false">
            <ion-button>Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <div style="padding: 10px;">
          <app-formulario-pedido (recargar)="cargarPedido()"></app-formulario-pedido>
        </div> 
      </ion-content>

    </ng-template>
  </ion-modal>
</ion-content>