<ion-list >
  <ion-item>
    <ion-label>idproducto:</ion-label>
    <ion-input inputmode="number"></ion-input>
  </ion-item>

<ion-item>
  <ion-label>Nombre Producto:</ion-label>
  <ion-input inputmode="number"></ion-input>
</ion-item>

<ion-item>
  <ion-label>Precio Producto</ion-label>
  <ion-input inputmode="number"></ion-input>
</ion-item>

<ion-item>
  <ion-label>Cantidad Producto:</ion-label>
  <ion-input inputmode="number"></ion-input>
</ion-item>
</ion-list>

<ion-item>
  <ion-label>Producto Oferta:</ion-label>
  <ion-input inputmode="number"></ion-input>
</ion-item>

<ion-item>
  <ion-label>Marca Producto:</ion-label>
  <ion-input inputmode="number"></ion-input>
</ion-item>

<ion-button expand="full">
  <ion-icon name="save" slot="start"></ion-icon>
  Guardar
</ion-button>

