<ion-app>
  <ion-menu contentId="contenido">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list lines="none">
        <ion-img src="assets/libreria.jpeg"></ion-img>
        <ion-menu-toggle>
          <ion-item button routerLink="home" routerLinkActive="seleccionado">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label>Inicio</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item button routerLink="productos" routerLinkActive="seleccionado">
            <ion-icon name="bag-add" slot="start"></ion-icon>
            <ion-label>Productos</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item button routerLink="usuario" routerLinkActive="seleccionado">
            <ion-icon name="people-circle-Outline" slot="start"></ion-icon>
            <ion-label>Usuario</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item button routerLink="pedido" routerLinkActive="seleccionado">
            <ion-icon name="create-Sharp" slot="start"></ion-icon>
            <ion-label>Pedido</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item button routerLink="detallesPedido" routerLinkActive="seleccionado">
            <ion-icon name="receipt-sharp" slot="start"></ion-icon>
            <ion-label>Detalles Pedido</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-menu-toggle>
        <ion-item *ngIf="servicioSesion.token == null " button lines="none" routerLink="/login" routerLinkActive="seleccionado">
          <ion-icon name="login-in" slot="start"></ion-icon>
          <ion-label>Iniciar Sesion</ion-label>
        </ion-item>
        <ion-item *ngIf="servicioSesion.token != null" buttom lines="none" (click)="cerrarSesion()"></ion-item> 
        <ion-icon name="log-out" slot="start"></ion-icon>
        <ion-label>Cerrar Sesion</ion-label>
      </ion-menu-toggle>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="contenido"></ion-router-outlet>
</ion-app>