<ion-list >
  <ion-item>
    <ion-label>iddetalles_pedido:</ion-label>
    <ion-input inputmode="number"></ion-input>
  </ion-item>

<ion-item>
  <ion-label>idproducto:</ion-label>
  <ion-input inputmode="number"></ion-input>
</ion-item>

<ion-item>
  <ion-label>cantidad:</ion-label>
  <ion-input inputmode="number"></ion-input>
</ion-item>

<ion-item>
  <ion-label>precio:</ion-label>
  <ion-input inputmode="number"></ion-input>
</ion-item>
</ion-list>

<ion-button expand="full">
  <ion-icon name="save" slot="start"></ion-icon>
  Guardar
</ion-button>


