<form [formGroup]="form">
  <ion-list>
    <ion-item fill="outline">
      <ion-label position="floating">iddetallesPedido</ion-label>
      <ion-input inputmode="number" type="number" placeholder="Ingresar..." formControlName="iddetallesPedidoCtrl"></ion-input>
      <ion-note slot="error" *ngIf="form.controls.iddetallesPedidoCtrl.touched">Ingrese un iddetallesPedido</ion-note>
    </ion-item>

    <ion-item fill="outline" class="item-espaciado">
      <ion-label position="floating">idproducto</ion-label>
      <ion-input inputmode="number" type="number" placeholder="Ingresar..." formControlName="idproductoCtrl"></ion-input>
      <ion-note slot="error" *ngIf="form.controls.idproductoCtrl.touched">Ingrese un idproducto</ion-note>
    </ion-item>

    <ion-item fill="outline" class="item-espaciado">
      <ion-label position="floating">Cantidad</ion-label>
      <ion-input inputmode="number" type="number" formControlName="cantidadCtrl"></ion-input>
      <ion-note slot="error" *ngIf="form.controls.cantidadCtrl.touched">Ingrese la cantidad</ion-note>
    </ion-item>

    <ion-item fill="outline">
      <ion-label position="floating">Precio</ion-label>
      <ion-input inputmode="number" type="number" placeholder="Ingresar..." formControlName="precioCtrl"></ion-input>
      <ion-note slot="error" *ngIf="form.controls.precioCtrl.touched">Ingrese el precio</ion-note>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="guardar()">
    <ion-icon name="save" slot="start"></ion-icon>
    Guardar
  </ion-button>
</form>