<form [formGroup]="form">
  <ion-list>
    <ion-item fill="outline">
      <ion-label position="floating">idproducto</ion-label>
      <ion-input inputmode="number" type="number" placeholder="Ingresar..." formControlName="idproductoCtrl"></ion-input>
      <ion-note slot="error" *ngIf="form.controls.idproductoCtrl.touched">Ingrese un idProducto</ion-note>
    </ion-item>

    <ion-item fill="outline" class="item-espaciado">
      <ion-label position="floating">Nombre Producto</ion-label>
      <ion-input formControlName="nombreProCtrl">
        <ion-select-option *ngFor="let producto of listaProductos" [value]="producto.idproducto">{{
          producto.nombrePro }}</ion-select-option>
      </ion-input>
      <ion-note slot="error" *ngIf="form.controls.nombreProCtrl.touched">Ingrese el nombre producto</ion-note>
    </ion-item>

    <ion-item fill="outline">
      <ion-label position="floating">Precio Producto</ion-label>
      <ion-input inputmode="number" type="number" placeholder="Ingresar..." formControlName="precioProCtrl"></ion-input>
      <ion-note slot="error" *ngIf="form.controls.precioProCtrl.touched">Ingrese el precio producto</ion-note>
    </ion-item>

    <ion-item fill="outline" class="item-espaciado">
      <ion-label position="floating">Cantidad Producto</ion-label>
      <ion-input inputmode="number" formControlName="cantidadProCtrl"></ion-input>
      <ion-note slot="error" *ngIf="form.controls.cantidadProCtrl.touched">Seleccione la cantidad de producto</ion-note>
      <ion-button slot="end" (click)="incrementarCantidad()">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button slot="end" (click)="disminuirCantidad()">
        <ion-icon name="remove" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item fill="outline">
      <ion-label position="floating">Producto Oferta</ion-label>
      <ion-input inputmode="number" type="number" placeholder="Ingresar..." formControlName="produOfertaCtrl"></ion-input>
      <ion-note slot="error" *ngIf="form.controls.produOfertaCtrl.touched">Ingrese el producto con oferta</ion-note>
    </ion-item>

    <ion-item fill="outline" class="item-espaciado">
      <ion-label position="floating">Marca Producto</ion-label>
      <ion-input inputmode="text" type="text" placeholder="Ingresar..." formControlName="marcaProCtrl"></ion-input>
      <ion-note slot="error" *ngIf="form.controls.marcaProCtrl.touched">Ingrese la marca del producto</ion-note>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="guardar()">
    <ion-icon name="save" slot="start"></ion-icon>
    Guardar
  </ion-button>
</form>