<ion-list >
  <ion-item>
    <ion-label>idpedido:</ion-label>
    <ion-input inputmode="number"></ion-input>
  </ion-item>

<ion-item>
  <ion-label>idusuario:</ion-label>
  <ion-input inputmode="number"></ion-input>
</ion-item>

<ion-item>
  <ion-label>Fecha Pedido:</ion-label>
  <ion-input inputmode="number"></ion-input>
</ion-item>

<ion-item>
  <ion-label>Fecha Entrega:</ion-label>
  <ion-input inputmode="number"></ion-input>
</ion-item>
</ion-list>

<ion-button expand="full">
  <ion-icon name="save" slot="start"></ion-icon>
  Guardar
</ion-button>
